In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
from matplotlib import pyplot as plt

In [ ]:
sale_price = pd.read_csv('/work/historical house price.csv')

**Drop unused columns**

In [ ]:
sale_price.drop(['RegionID', 'SizeRank', 'RegionType'], axis=1, inplace = True)

**Turn all the Date columns into datetime variable**

In [ ]:
sale_price = pd.melt(sale_price, id_vars=['RegionName', 'StateName'], value_vars=None, 
        var_name='Date', value_name='Price')

In [ ]:
sale_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4275 entries, 0 to 4274
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  4275 non-null   object
 1   StateName   4230 non-null   object
 2   Date        4275 non-null   object
 3   Price       4168 non-null   float64
dtypes: float64(1), object(3)
memory usage: 133.7+ KB

In [ ]:
sale_price.head()

                           RegionName StateName        Date     Price
0                       United States       NaN  2018-01-31  271600.0
1                        New York, NY        NY  2018-01-31  517967.0
2  Los Angeles-Long Beach-Anaheim, CA        CA  2018-01-31  798667.0
3                         Chicago, IL        IL  2018-01-31  301000.0
4               Dallas-Fort Worth, TX        TX  2018-01-31  342000.0

**Change the format of Date into datetime objct**

In [ ]:
sale_price.Date = pd.to_datetime(sale_price.Date)

**Extract the year of each Date**

In [ ]:
sale_price['Year'] = pd.DatetimeIndex(sale_price.Date).year

**Group the data by states and year**

In [ ]:
average_sales_price = sale_price.groupby(['StateName', 'Year'])['Price'].mean().unstack()


**Export the cleaned data**

In [ ]:
average_sales_price.to_csv('cleaned_historical_house_price.csv')

In [ ]:
average_sales_price

Year                2018           2019           2020           2021
StateName
AL         228732.000000  258620.416667  273601.583333  282855.000000
AR         175310.583333  188917.166667  202733.166667  225487.333333
AZ         313906.291667  327986.625000  354341.000000  401441.555556
CA         613503.241667  614750.483333  675553.991667  711615.049383
CO         448227.000000  464622.750000  490666.944444  589595.555556
CT         451711.722222  448717.277778  469544.166667  483759.000000
DC         457190.666667  476527.833333  522369.333333  517300.333333
FL         301374.041667  303952.447917  313136.718750  342614.629630
GA         329486.750000  329547.833333  340063.083333  382062.444444
HI         661364.333333  664355.666667  613453.166667            NaN
IA         291455.583333  280423.916667  273720.333333  298242.111111
ID         349402.333333  370417.750000  410309.666667  517814.000000
IL         326669.500000  327351.166667  334035.166667  344211.111111
IN         249495.666667  265035.833333  288934.916667  289703.555556
KS         196449.000000  211692.833333  230222.888889  230401.444444
KY         261863.833333  272256.916667  276467.000000  275681.444444
LA         247806.375000  256163.500000  270059.666667  300530.944444
MA         371562.611111  387098.888889  430670.027778  506334.777778
MD         325254.500000  333933.166667  345982.250000  347918.444444
MI         258935.208333  268711.250000  279780.583333  309790.555556
MN         370080.666667  374513.083333  383666.416667  382323.222222
MO         242067.791667  273969.833333  295131.041667  307502.277778
NC         309872.150000  325752.916667  343943.200000  365693.155556
NE         297908.583333  310754.833333  320402.500000  327819.777778
NM         250222.500000  266665.416667  313131.750000  357839.555556
NV         322293.666667  318841.416667  336767.166667  392488.888889
NY         268372.333333  285268.616667  311041.824561  347028.638889
OH         191814.513889  207501.166667  229026.000000  240680.981481
OK         225698.583333  248018.916667  275285.416667  298314.333333
OR         470394.250000  464649.333333  484070.083333  561112.000000
PA         225726.361111  236590.916667  266639.416667  291514.037037
RI         360279.166667  377788.583333  400833.916667  420408.333333
SC         287781.083333  294168.055556  304949.833333  346112.074074
TN         283755.138889  290722.472222  309300.472222  337347.000000
TX         286129.722222  285272.458333  298212.557143  336667.528302
UT         402371.166667  414625.750000  454576.916667  535276.000000
VA         292628.750000  308450.708333  334779.708333  342670.500000
WA         567143.083333  616727.000000  656539.083333  680648.666667
WI         274826.333333  281144.458333  293052.875000  296262.944444

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=c62e4f61-5454-4e18-b0e0-542e6e7256b8' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>